body {
  background:  #F8F8F8; 
}

.header {
  margin-bottom: 16px;
}

.card {
  flex: 0 1 19%;
  background-color: white;
  margin-bottom: 8px;
  font-size: 0.7em;
  box-shadow: rgba(0, 0, 0, 0.063) 0px 0px 3px 3px;
  border-radius: 5px;
  margin: 30px;
  padding: 0px;
 
}

.paysinfo {
  padding: 2px 16px;
}

.drapeau {
  width:100%;
  height:128px;
  object-fit: cover;
}

.navbar {
  background-color: white;
  height: 48px;
  height: 78px;
  display: flex;
  justify-content: space-between;
}

.searchelements {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pays {
  width: 100%;
}

.listepays {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.loupe {
  height: 16px;
}

.unpays {
  display: flex;
}

.unpaysdetails {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.unpaysimg {
  width: 400px;
  height: 300px;
  margin: 16px;
}

.paysdroite {
  padding-top: 25px;
}

.border {
  margin-top: 48px;
}

.back {
  background-color: white;
  margin-top: 16px;
  border:0px;
}

.selectregion {
  border: none;
  border-radius: 4px;
  padding: 8px;
}