body {
  background:  #F8F8F8; 
}

.header {
  margin-bottom: 16px;
}

.dark-header {
  background-color: hsl(207, 26%, 17%);
}


.listepays {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 19%; 
  margin-bottom: 8px;
  font-size: 0.7em;
  box-shadow: rgba(0, 0, 0, 0.063) 0px 0px 3px 3px;
  border-radius: 5px;
  margin: 30px;
  padding: 0px;
 
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.paysinfo {
  padding: 2px 16px;
}

.dark {
  background-color:  rgb(43, 57, 69);
  color:white;
}

.drapeau {
  width:100%;
  height:128px;
  object-fit: cover;
}

.btn-switch {
  color: inherit;
  border: none;
  background: transparent;
}

.navbar {
  
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 16px;

}

.searchelements {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pays {
  width: 100%;
  
}


.container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height:100%;
  
}

.loupe {
  height: 16px;
}

.unpays {
  display: flex;
}

.unpaysdetails {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.unpaysimg {
  width: 400px;
  height: 300px;
  margin: 16px;
}

.paysdroite {
  padding-top: 25px;
}

.border {
  margin-top: 48px;
}

.back {
  background-color: white;
  margin-top: 16px;
  border:0px;
}

.selectregion {
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.searchbar {
  background: transparent;
}


@media screen and (min-width: 200px) and (max-width: 840px) {
  .card {
    
    width: 90%;
    margin-bottom: 8px;
    font-size: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.063) 0px 0px 3px 3px;
    border-radius: 5px;
  }

  .listepays {
    display: inline;
  }
  
}